<header class="index_header">
    <!--ロゴ画像（一番上に表示）-->
    <a href="index.html">
        <img src="images/header_logo.png" alt="社紋・神社名" class="header_logo">
    </a>
    <!--メインビジュアル
    ・動画のみ（背景化している）-->
    <div class="mainvisual">
        <video autoplay muted loop playsinline poster="images/header_poster.jpg">
            <source src="video/header_video.mp4" type="video/mp4">
        </video>
    </div>
    <!--グローバルナビ
    TODO:ギャラリーページを作成予定-->
    <ul class="header_nav">
        <li><a href="index.html">新着情報</a></li>
        <li><a href="about-odayama.html">小田山神社について</a></li>
        <li><a href="about-ontake.html">御嶽教とは</a></li>
        <li><a href="worship.html">御参拝・御祈願（予約）</a></li>
        <li><a href="product.html">オンライン授与所</a></li>
        <li><a href="access.html">アクセス</a></li>
    </ul>
    <!--アクセシビリティ用（cssにて非表示処理済）-->
    <h1 class="site-title visually-hidden">
        御嶽教若松教会 小田山神社
    </h1>
</header>
